<body data-wc-domready="true" class="wc-rtc-gum" data-wc-timers="false">
    <div class="" id="wc-shim" hidden="hidden">
        <noscript>&lt;p&gt;You must have JavaScript enabled to use this application.&lt;/p&gt;</noscript>
    </div>
    <form action="/evo/firstParty" data-wc-datalisturl="/evo/firstParty" id="A" method="POST" novalidate="novalidate" data-wc-ajaxurl="/evo/firstParty?wc_s=2&amp;wc_t=c4c11068-0834-4db8-99e8-846b965d0d89" class="wc-application">
        <input name="wc_s" type="hidden" value="2">
        <input name="wc_t" type="hidden" value="c4c11068-0834-4db8-99e8-846b965d0d89">
        <header id="_0" class="wc-panel wc-panel-type-header" role="banner">
            <div class="wc-content">
                <div id="_0a" class="wc-panel">
                    <ul class="wc-listlayout wc-listlayout-type-flat wc-align-right wc_list_nb">
                        <li><a id="_0a0" class="wc-link wc_nti" href="http://www.border.gov.au/Busi/Visa"><img src="/evo/firstParty?cacheKey=8921baa4&amp;wc_static=%2fimages%2fhome_icon.png" alt="home"></a></li>
                        <li>
                            <button name="_0a1" value="x" id="_0a1" class="wc-button wc-button-type-link wc_btn_cancel wc-linkbutton" type="submit" formnovalidate="formnovalidate">Help [on]</button>
                        </li>
                    </ul>
                </div>
                <div id="_0b" class="wc-panel wc-panel-type-banner">
                    <div class="wc-content">
                        <h1 id="_0b0" class="wc-heading">VEVO for Visa Holders</h1></div>
                </div>
            </div>
        </header>
        <div id="_2a1" class="wc-panel wc-margin-all-lg">
            <div class="wc-content">
                <section id="_2a1a" class="wc-panel wc-panel-type-chrome">
                    <h1>Entitlement details</h1>
                    <div class="wc-content">
                        <div id="_2a1a0" class="wc-panel">
                            <div class="wc-content"></div>
                        </div>
                        <div id="_2a1a2a0a" class="wc-panel">
                            <div class="wc-content">
                                <section id="_2a1a2a0a0" class="wc-messagebox wc-messagebox-type-info wc_msgbox">
                                    <h1 class="wc-icon"><span>Information</span></h1>
                                    <div class="wc_messages">
                                        <div class="wc-message">The entitlements associated with your current 'in-effect' visa are displayed below. If you believe these details are not correct, please contact the Department of Immigration and Border Protection. Please note that visa application status and visa grants that are not yet in effect will not be shown below.</div>
                                    </div>
                                </section>
                                <div id="_2a1a2a0a2" class="wc-panel">
                                    <div class="wc-flowlayout wc-align-vertical">
                                        <div class="wc-cell">
                                            <div id="_2a1a2a0a2a" class="wc-panel wc-panel-type-box wc-margin-s-lg">
                                                <div class="wc-borderlayout">
                                                    <div class="wc_bl_mid">
                                                        <div class="wc-west wc_bl_mid50">
                                                            <div id="_2a1a2a0a2a0" class="wc-panel">
                                                                <div class="wc-flowlayout wc-align-left wc-hgap-med">
                                                                    <div class="wc-cell">
                                                                        <div id="_2a1a2a0a2a0a" class="wc-panel">
                                                                            <div class="wc-content">
                                                                                <button name="_2a1a2a0a2a0a0" value="x" id="_2a1a2a0a2a0a0" class="wc-button wc_btn_cancel" type="submit" formnovalidate="formnovalidate">New enquiry</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="wc-east wc_bl_mid50">
                                                            <div id="_2a1a2a0a2a1" class="wc-panel">
                                                                <div class="wc-flowlayout wc-align-right wc-hgap-med">
                                                                    <div class="wc-cell">
                                                                        <div id="_2a1a2a0a2a1a" class="wc-panel">
                                                                            <div class="wc-flowlayout wc-align-left wc-hgap-med">
                                                                                <div class="wc-cell">
                                                                                    <button id="_2a1a2a0a2a1a0a" class="wc-link wc-link-type-button" type="button" data-wc-url="/evo/firstParty?wc_content=attach&amp;wc_target=_2a1a2a0a2a1a0b&amp;no-cache=1502185235943-3103&amp;wc_s=2&amp;wc_t=c4c11068-0834-4db8-99e8-846b965d0d89">View as PDF</button>
                                                                                </div>
                                                                                <div class="wc-cell">
                                                                                    <button id="_2a1a2a0a2a1a1" class="wc-link wc-linkbutton wc_nti" title="Help" aria-haspopup="true" data-wc-specs="width=400px,height=300px,menubar=no,toolbar=no,location=no,status=no,resizable=yes,scrollbars=yes" data-wc-window="vevo_help" type="button" data-wc-url="http://www.border.gov.au/help-text/migration/pages/vevo_help_pdf.aspx"><img src="/evo/firstParty?cacheKey=d77cdbee&amp;wc_static=%2fimages%2fsmall%2fhelp.png" alt=""></button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="wc-cell">
                                                                        <div id="_2a1a2a0a2a1b" class="wc-panel">
                                                                            <div class="wc-flowlayout wc-align-left wc-hgap-med">
                                                                                <div class="wc-cell">
                                                                                    <button name="_2a1a2a0a2a1b0" value="x" id="_2a1a2a0a2a1b0" class="wc-button" type="submit">Send Email</button>
                                                                                </div>
                                                                                <div class="wc-cell">
                                                                                    <button id="_2a1a2a0a2a1b1" class="wc-link wc-linkbutton wc_nti" title="Help" aria-haspopup="true" data-wc-specs="width=400px,height=300px,menubar=no,toolbar=no,location=no,status=no,resizable=yes,scrollbars=yes" data-wc-window="vevo_help" type="button" data-wc-url="http://www.border.gov.au/help-text/migration/pages/vevo_help_email.aspx"><img src="/evo/firstParty?cacheKey=d77cdbee&amp;wc_static=%2fimages%2fsmall%2fhelp.png" alt=""></button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wc-cell">
                                            <div id="_2a1a2a0a2b0" class="wc-panel">
                                                <div class="wc-content">
                                                    <div role="presentation" id="_2a1a2a0a2b0a" class="wc-fieldlayout wc-layout-flat wc_fld_lblwth_35">
                                                        <div id="_2a1a2a0a2b0a0" class="wc-field"><span id="_2a1a2a0a2b0a0a" class="wc-label">Current date and time</span>
                                                            <div class="wc-input">Tuesday August 08, 2017 19:40:35 (EST) Canberra, Australia (GMT +1000)</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>&nbsp;
                                            <div role="presentation" id="_2a1a2a0a2b2" class="wc-fieldlayout wc-layout-flat wc_fld_lblwth_35">
                                                <div id="_2a1a2a0a2b2a" class="wc-field"><span id="_2a1a2a0a2b2a0" class="wc-label">Family name</span>
                                                    <div class="wc-input">dhaliwal</div>
                                                </div>
                                                <div id="_2a1a2a0a2b2b" class="wc-field"><span id="_2a1a2a0a2b2b0" class="wc-label">Given name(s)</span>
                                                    <div class="wc-input">sukhveer kaur</div>
                                                </div>
                                                <div id="_2a1a2a0a2b2d" class="wc-field"><span id="_2a1a2a0a2b2d0" class="wc-label">Visa description</span>
                                                    <div class="wc-input">STUDENT</div>
                                                </div>
                                                <div id="_2a1a2a0a2b2e" class="wc-field"><span id="_2a1a2a0a2b2e0" class="wc-label">Passport / ImmiCard number</span>
                                                    <div class="wc-input">J8044027</div>
                                                </div>
                                                <div id="_2a1a2a0a2b2f" class="wc-field"><span id="_2a1a2a0a2b2f0" class="wc-label">Visa class / subclass</span>
                                                    <div class="wc-input">TU / 500</div>
                                                </div>
                                                <div id="_2a1a2a0a2b2g" class="wc-field"><span id="_2a1a2a0a2b2g0" class="wc-label">Education Sector</span>
                                                    <div class="wc-input">Higher Education Sector</div>
                                                </div>
                                                <div id="_2a1a2a0a2b2h" class="wc-field"><span id="_2a1a2a0a2b2h0" class="wc-label">Visa applicant</span>
                                                    <div class="wc-input">Primary</div>
                                                </div>
                                                <div id="_2a1a2a0a2b2i" class="wc-field"><span id="_2a1a2a0a2b2i0" class="wc-label">Visa grant date</span>
                                                    <div class="wc-input">18 April 2017</div>
                                                </div>
                                                <div id="_2a1a2a0a2b2j" class="wc-field"><span id="_2a1a2a0a2b2j0" class="wc-label">Visa expiry date</span>
                                                    <div class="wc-input">30 August 2017</div>
                                                </div>
                                                <div id="_2a1a2a0a2b2ba" class="wc-field"><span id="_2a1a2a0a2b2ba0" class="wc-label">Location</span>
                                                    <div class="wc-input">Onshore</div>
                                                </div>
                                                <div id="_2a1a2a0a2b2bb" class="wc-field"><span id="_2a1a2a0a2b2bb0" class="wc-label">Visa status</span>
                                                    <div class="wc-input">In Effect</div>
                                                </div>
                                                <div id="_2a1a2a0a2b2bc" class="wc-field"><span id="_2a1a2a0a2b2bc0" class="wc-label">Visa grant number</span>
                                                    <div class="wc-input">1859510671590</div>
                                                </div>
                                                <div id="_2a1a2a0a2b2bd" class="wc-field"><span id="_2a1a2a0a2b2bd0" class="wc-label">Entries allowed</span>
                                                    <div class="wc-input">Multiple entries to and from Australia during the validity of your visa</div>
                                                </div>
                                                <div id="_2a1a2a0a2b2be" class="wc-field"><span id="_2a1a2a0a2b2be0" class="wc-label">Initial stay date</span>
                                                    <div class="wc-input">30 August 2017</div>
                                                </div>
                                                <div id="_2a1a2a0a2b2bf" class="wc-field"><span id="_2a1a2a0a2b2bf0" class="wc-label">Must not arrive after</span>
                                                    <div class="wc-input">30 August 2017</div>
                                                </div>
                                                <div id="_2a1a2a0a2b2bh" class="wc-field"><span id="_2a1a2a0a2b2bh0" class="wc-label">Period of stay</span>
                                                    <div class="wc-input">Until 30 August 2017</div>
                                                </div>
                                                <div id="_2a1a2a0a2b2bi" class="wc-field"><span id="_2a1a2a0a2b2bi0" class="wc-label">Visa type</span>
                                                    <div class="wc-input">Temporary resident</div>
                                                </div>
                                            </div>&nbsp;
                                            <div role="presentation" id="_2a1a2a0a2b4" class="wc-fieldlayout wc-layout-flat wc_fld_lblwth_35">
                                                <div id="_2a1a2a0a2b4c" class="wc-field"><span id="_2a1a2a0a2b4c0" class="wc-label">Visa condition(s)</span>
                                                    <div class="wc-input">
                                                        <div class="condition">
                                                            <p>The Department is working with the Fair Work Ombudsman to help employees and employers understand and follow Australian Workplace laws.
                                                                <br> The <a href="http://calculate.fairwork.gov.au/Home/Help" target="_blank">Pay and Conditions Tool (PACT)</a> provides information on pay rates, shift calculations, leave arrangements and notice and redundancy entitlements.</p>
                                                            <p>​​8105 - Work limitation:</p>
                                                            <ul>
                                                                <li>current and previous 570-576 visa holders, <a href="https://www.legislation.gov.au/Details/F2016C00413/Html/Volume_6#_Toc449961421" target="_blank">See the Regulations</a></li>
                                                                <li>500 visa holders, <a href="https://www.legislation.gov.au/Details/F2017C00582/Html/Volume_3#_Toc488322107" target="_blank">See the Regulations</a></li>
                                                            </ul>
                                                            <p>Student visa holders can work a maximum of 40 hours per fortnight when their course is in session, and only once the course has commenced. See <a href="http://www.border.gov.au/Trav/Stud/More/Work-conditions-for-Student-visa-holders" target="_blank"><span style="text-decoration:underline;"></span></a> for further information about this visa condition, including activities that are not considered work and an explanation of 'course in session'.&nbsp;&nbsp;</p>
                                                            <p><strong>Note:</strong> Students studying a Masters by research, or doctorate (PhD) can work <strong>unlimited hours once</strong> the student has started their course.</p>
                                                            <p><strong>Important:</strong> Employers seeking to hire a primary student visa holder are advised to request evidence that&nbsp;the visa holder&nbsp;has commenced their course, such as&nbsp;a Confirmation of Enrolment or a letter from the relevant education provider.</p>
                                                            <p>&nbsp;</p>
                                                        </div>
                                                        <div class="condition">
                                                            <p>8202 - Meet course requirements: The visa holder must satisfy the requirements of course enrolment, course level, course progress and course attendance.</p>
                                                            <ul>
                                                                <li>current and previous 570-576 visa holders, <a href="https://www.legislation.gov.au/Details/F2016C00413/Html/Volume_6#_Toc449961421" target="_blank">See the Regulations</a></li>
                                                                <li>500 visa holders, <a href="https://www.legislation.gov.au/Details/F2017C00582/Html/Volume_3#_Toc488322107" target="_blank">See the Regulations</a></li>
                                                            </ul>
                                                            <p><strong>Note:</strong> A registered course is one that is on the Commonwealth Register of Institutions and Courses for Overseas Students (CRICOS). Go to <a class="comlaw" href="http://cricos.deewr.gov.au/" target="_blank">http://cricos.education.gov.au</a> for a list of registered courses and education providers.</p>
                                                            <p>For information on Australian Qualification Framework, to go <a href="http://www.aqf.edu.au/" target="_blank">http://www.aqf.ed.au/</a></p>
                                                        </div>
                                                        <div class="condition">
                                                            <p>8501 - Health cover: The visa holder must maintain adequate arrangements for health insurance during their stay in Australia.
                                                                <br><a href="https://www.legislation.gov.au/Details/F2017C00350/Html/Volume_3#_Toc480382425" target="_blank">See the regulation</a>.</p>
                                                        </div>
                                                        <div class="condition">
                                                            <p>8516 - Must Maintain eligibility: The visa holder must continue to satisfy the criteria for grant of their visa.
                                                                <br><a href="https://www.legislation.gov.au/Details/F2017C00582/Html/Volume_3#_Toc488322107" target="_blank">See the regulation</a>.</p>
                                                        </div>
                                                        <div class="condition">
                                                            <p>8517 - School age dependants: The visa holder must maintain adequate schooling arrangements for their school-age dependants who join them in Australia on a student dependant visa for more than 3 months.
                                                                <br><a href="https://www.legislation.gov.au/Details/F2017C00582/Html/Volume_3#_Toc488322107" target="_blank">See the regulation</a>.</p>
                                                        </div>
                                                        <div class="condition">
                                                            <p>​8532 - The visa holder who is under 18 must maintain adequate accommodation, support and general welfare arrangements.</p>
                                                            <p><strong>Note:</strong> The visa holder cannot change those arrangements without the written approval of their education provider.</p>
                                                            <ul>
                                                                <li>current and previous 570-576 visa holders, <a href="https://www.legislation.gov.au/Details/F2016C00413/Html/Volume_6#_Toc449961421" target="_blank">See the Regulations</a></li>
                                                                <li>500 visa holders, <a href="https://www.legislation.gov.au/Details/F2017C00582/Html/Volume_3#_Toc488322107" target="_blank">See the Regulations</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="condition">
                                                            <p>8533 - Inform provider of address: The visa holder must notify their:</p>
                                                            <ul>
                                                                <li>education provider of their residential address in Australia within 7 days of arriving in Australia</li>
                                                                <li>education provider of any change in their residential address within 7 days of the change</li>
                                                                <li>current education provider of a change in education provider within 7 days of receiving the electronic Confirmation of Enrolment (CoE) or evidence of enrolment from their new education provider.</li>
                                                            </ul>
                                                            <p><a href="https://www.legislation.gov.au/Details/F2017C00582/Html/Volume_3#_Toc488322107" target="_blank">See the regulation</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wc-cell">
                                            <div id="_2a1a2a0a2c" class="wc-panel wc-panel-type-box wc-margin-s-lg">
                                                <div class="wc-borderlayout">
                                                    <div class="wc_bl_mid">
                                                        <div class="wc-west wc_bl_mid50">
                                                            <div id="_2a1a2a0a2c0" class="wc-panel">
                                                                <div class="wc-flowlayout wc-align-left wc-hgap-med">
                                                                    <div class="wc-cell">
                                                                        <div id="_2a1a2a0a2c0a" class="wc-panel">
                                                                            <div class="wc-content">
                                                                                <button name="_2a1a2a0a2c0a0" value="x" id="_2a1a2a0a2c0a0" class="wc-button wc_btn_cancel" type="submit" formnovalidate="formnovalidate">New enquiry</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="wc-east wc_bl_mid50">
                                                            <div id="_2a1a2a0a2c1" class="wc-panel">
                                                                <div class="wc-flowlayout wc-align-right wc-hgap-med">
                                                                    <div class="wc-cell">
                                                                        <div id="_2a1a2a0a2c1a" class="wc-panel">
                                                                            <div class="wc-flowlayout wc-align-left wc-hgap-med">
                                                                                <div class="wc-cell">
                                                                                    <button id="_2a1a2a0a2c1a0a" class="wc-link wc-link-type-button" type="button" data-wc-url="/evo/firstParty?wc_content=attach&amp;wc_target=_2a1a2a0a2c1a0b&amp;no-cache=1502185235951-3104&amp;wc_s=2&amp;wc_t=c4c11068-0834-4db8-99e8-846b965d0d89">View as PDF</button>
                                                                                </div>
                                                                                <div class="wc-cell">
                                                                                    <button id="_2a1a2a0a2c1a1" class="wc-link wc-linkbutton wc_nti" title="Help" aria-haspopup="true" data-wc-specs="width=400px,height=300px,menubar=no,toolbar=no,location=no,status=no,resizable=yes,scrollbars=yes" data-wc-window="vevo_help" type="button" data-wc-url="http://www.border.gov.au/help-text/migration/pages/vevo_help_pdf.aspx"><img src="/evo/firstParty?cacheKey=d77cdbee&amp;wc_static=%2fimages%2fsmall%2fhelp.png" alt=""></button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="wc-cell">
                                                                        <div id="_2a1a2a0a2c1b" class="wc-panel">
                                                                            <div class="wc-flowlayout wc-align-left wc-hgap-med">
                                                                                <div class="wc-cell">
                                                                                    <button name="_2a1a2a0a2c1b0" value="x" id="_2a1a2a0a2c1b0" class="wc-button" type="submit">Send Email</button>
                                                                                </div>
                                                                                <div class="wc-cell">
                                                                                    <button id="_2a1a2a0a2c1b1" class="wc-link wc-linkbutton wc_nti" title="Help" aria-haspopup="true" data-wc-specs="width=400px,height=300px,menubar=no,toolbar=no,location=no,status=no,resizable=yes,scrollbars=yes" data-wc-window="vevo_help" type="button" data-wc-url="http://www.border.gov.au/help-text/migration/pages/vevo_help_email.aspx"><img src="/evo/firstParty?cacheKey=d77cdbee&amp;wc_static=%2fimages%2fsmall%2fhelp.png" alt=""></button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <footer id="_3" class="wc-panel wc-panel-type-footer wc-margin-all-lg">
            <div class="wc-borderlayout">
                <div class="wc_bl_mid">
                    <div class="wc-west wc_bl_mid50">
                        <div id="_3a" class="wc-panel">
                            <ul class="wc-listlayout wc-listlayout-type-flat wc-align-left wc-listlayout-separator-bar wc-hgap-med">
                                <li><a id="_3a0" class="wc-link" href="http://www.border.gov.au/website/accessibility" rel="noopener noreferrer" target="somename">Accessibility</a></li>
                                <li><a id="_3a1" class="wc-link" href="http://www.border.gov.au/website/copyright-and-disclaimer" rel="noopener noreferrer" target="somename">Copyright &amp; Disclaimer</a></li>
                                <li><a id="_3a2" class="wc-link" href="http://www.border.gov.au/website/online-security" rel="noopener noreferrer" target="somename">Online Security</a></li>
                                <li><a id="_3a3" class="wc-link" href="http://www.border.gov.au/about/access-accountability/privacy" rel="noopener noreferrer" target="somename">Privacy</a></li>
                                <li>
                                    <button name="_3a4" value="x" id="_3a4" class="wc-button wc-button-type-link wc_btn_cancel wc-linkbutton" type="submit" formnovalidate="formnovalidate">Change Password</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="wc-east wc_bl_mid50">
                        <div id="_3b" class="wc-panel">
                            <div class="wc-flowlayout wc-align-right wc-hgap-xl"></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="wc_session" hidden="hiddden" id="wc_session_container" role="alert" aria-live="polite"></div>
    </form><a class="wc_btt wc-icon" href="#" hidden="hidden"><span>Back to top (press the ESCAPE key to hide this)</span></a></body>