<body data-wc-domready="true" class="wc-rtc-gum" data-wc-timers="false" data-wc-ajaxp="false">
    <div class="" id="wc-shim" hidden="hidden">
        <noscript>&lt;p&gt;You must have JavaScript enabled to use this application.&lt;/p&gt;</noscript>
    </div>
    <form action="/evo/firstParty" data-wc-datalisturl="/evo/firstParty" id="A" method="POST" novalidate="novalidate" data-wc-ajaxurl="/evo/firstParty?wc_s=2&amp;wc_t=8a6a486b-f2c0-4b55-945c-5abc683b70c1" class="wc-application">
        <input name="wc_s" type="hidden" value="2">
        <input name="wc_t" type="hidden" value="8a6a486b-f2c0-4b55-945c-5abc683b70c1">
        <header id="_0" class="wc-panel wc-panel-type-header" role="banner">
            <div class="wc-content">
                <div id="_0a" class="wc-panel">
                    <ul class="wc-listlayout wc-listlayout-type-flat wc-align-right wc_list_nb">
                        <li><a id="_0a0" class="wc-link wc_nti" href="http://www.border.gov.au/Busi/Visa"><img src="/evo/firstParty?cacheKey=8921baa4&amp;wc_static=%2fimages%2fhome_icon.png" alt="home"></a></li>
                        <li>
                            <button name="_0a1" value="x" id="_0a1" class="wc-button wc-button-type-link wc_btn_cancel wc-linkbutton" type="submit" formnovalidate="formnovalidate">Help [on]</button>
                        </li>
                    </ul>
                </div>
                <div id="_0b" class="wc-panel wc-panel-type-banner">
                    <div class="wc-content">
                        <h1 id="_0b0" class="wc-heading">VEVO for Visa Holders</h1></div>
                </div>
            </div>
        </header>
        <div id="_2a0" class="wc-panel wc-margin-all-lg">
            <div class="wc-content">
                <section id="_2a0a" class="wc-panel wc-panel-type-chrome">
                    <h1>Visa holder enquiry</h1>
                    <div class="wc-content">
                        <div id="_2a0a0" class="wc-panel">
                            <div class="wc-content">
                                <section id="_2a0a0b0" class="wc-messagebox wc-messagebox-type-error wc_msgbox">
                                    <h1 class="wc-icon"><span>An error has occurred</span></h1>
                                    <div class="wc_messages">
                                        <div class="wc-message">You do not have a current Australian visa. If you are in Australia, you must hold a valid visa for the duration of your stay and comply with conditions attached to your visa. If you dont have the right to remain in Australia, you are expected to depart. To extend your stay in Australia you need to apply for a Bridging visa E (BVE). In most cases, you can resolve your visa matter quickly and easily through the My visa is about to expire or has expired webpage.</div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <section id="_2a0a1" class="wc-panel wc-panel-type-action wc-margin-s-lg">
                            <h1>My visa is about to expire or has expired</h1>
                            <div class="wc-content">See: <a id="_2a0a1b" class="wc-link" href="http://www.border.gov.au/Trav/Visa/visa-about-to-expire-or-expired" rel="noopener noreferrer" target="somename">My visa is about to expire or has expired</a></div>
                        </section>
                        <div id="_2a0a2a0a" class="wc-panel">
                            <div class="wc-content">
                                <div id="_2a0a2a0a1" class="wc-panel">
                                    <div class="wc-flowlayout wc-align-vertical">
                                        <div class="wc-cell">Please complete the following details to view your visa entitlements.</div>
                                        <div class="wc-cell">Fields marked <span style="color:#e00;">*</span> must be completed.</div>
                                        <div class="wc-cell">&nbsp;</div>
                                    </div>
                                </div>
                                <div id="_2a0a2a0a2" class="wc-panel" data-wc-submit="_2a0a2a0a3b0a">
                                    <div class="wc-flowlayout wc-align-vertical">
                                        <div class="wc-cell">
                                            <div id="_2a0a2a0a2a" class="wc-panel">
                                                <div class="wc-content">
                                                    <div id="_2a0a2a0a2a1" class="wc-panel">
                                                        <div class="wc-flowlayout wc-align-vertical wc-vgap-sm">
                                                            <div class="wc-cell">
                                                                <div role="presentation" id="_2a0a2a0a2a1a" class="wc-fieldlayout wc-layout-flat wc_fld_lblwth_35">
                                                                    <div id="_2a0a2a0a2a1a0" class="wc-field">
                                                                        <label id="_2a0a2a0a2a1a0a" for="_2a0a2a0a2a1a0b" class="wc-label wc_req">Reference type<span class="wc-off"> required</span></label>
                                                                        <div class="wc-input">
                                                                            <select id="_2a0a2a0a2a1a0b" class="wc-dropdown" name="_2a0a2a0a2a1a0b" required="required" aria-controls="_2a0a2a0a2a1b">
                                                                                <option value="1">Please choose a reference type</option>
                                                                                <option value="2">Transaction Reference Number (TRN)</option>
                                                                                <option value="3">Visa Evidence Number</option>
                                                                                <option value="4" selected="">Visa Grant Number</option>
                                                                                <option value="5">Password</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="wc-cell">
                                                                <div role="presentation" id="_2a0a2a0a2a1b" class="wc-fieldlayout wc-layout-flat wc_fld_lblwth_35" aria-live="polite">
                                                                    <div id="_2a0a2a0a2a1b1" class="wc-field">
                                                                        <label id="_2a0a2a0a2a1b1a" for="_2a0a2a0a2a1b1b0_input" class="wc-label wc_req">Visa Grant Number<span class="wc-off"> required</span></label>
                                                                        <div class="wc-input">
                                                                            <div id="_2a0a2a0a2a1b1b" class="wc-panel">
                                                                                <div class="wc-flowlayout wc-align-left wc-hgap-med">
                                                                                    <div class="wc-cell"><span id="_2a0a2a0a2a1b1b0" class="wc-textfield wc_input_wrapper" aria-required="true"><input id="_2a0a2a0a2a1b1b0_input" name="_2a0a2a0a2a1b1b0" value="1060112315854X" required="required" type="text" placeholder="required" size="50" maxlength="14" minlength="13"></span></div>
                                                                                    <div class="wc-cell">
                                                                                        <button id="_2a0a2a0a2a1b1b1" class="wc-link wc-linkbutton wc_nti" title="Help" aria-haspopup="true" data-wc-specs="width=400px,height=300px,menubar=no,toolbar=no,location=no,status=no,resizable=yes,scrollbars=yes" data-wc-window="vevo_help" type="button" data-wc-url="http://www.border.gov.au/help-text/migration/pages/vevo_help_003.aspx"><img src="/evo/firstParty?cacheKey=d77cdbee&amp;wc_static=%2fimages%2fsmall%2fhelp.png" alt=""></button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wc-cell">&nbsp;</div>
                                        <div class="wc-cell">
                                            <div id="_2a0a2a0a2c" class="wc-panel">
                                                <div class="wc-content">
                                                    <div role="presentation" id="_2a0a2a0a2c0" class="wc-fieldlayout wc-layout-flat wc_fld_lblwth_35">
                                                        <div id="_2a0a2a0a2c0a" class="wc-field">
                                                            <label id="_2a0a2a0a2c0a0" for="_2a0a2a0a2c0a1a_input" class="wc-label wc_req">Date of birth<span class="wc-off"> required</span></label>
                                                            <div class="wc-input">
                                                                <div id="_2a0a2a0a2c0a1" class="wc-panel">
                                                                    <div class="wc-flowlayout wc-align-left wc-hgap-med">
                                                                        <div class="wc-cell">
                                                                            <div id="_2a0a2a0a2c0a1a" class="wc-datefield wc_input_wrapper wc_datefield_partial" aria-required="true" role="combobox" aria-autocomplete="list" aria-expanded="false" data-wc-value="1953-06-22">
                                                                                <input id="_2a0a2a0a2c0a1a_input" name="_2a0a2a0a2c0a1a" type="text" value="1953-06-22" autocomplete="off" required="required" placeholder="required" title="Shortcuts: t/y/m = today/yesterday/tomorrow. +/-N = +/-N days from now, e.g. +7.">
                                                                                <button aria-hidden="true" class="wc_wdf_cal wc_btn_icon wc-invite" id="_2a0a2a0a2c0a1a_cal" tabindex="-1" type="button" value="_2a0a2a0a2c0a1a_input"></button><span aria-busy="true" role="listbox"></span></div>
                                                                        </div>
                                                                        <div class="wc-cell">
                                                                            <button id="_2a0a2a0a2c0a1b" class="wc-link wc-linkbutton wc_nti" title="Help" aria-haspopup="true" data-wc-specs="width=400px,height=300px,menubar=no,toolbar=no,location=no,status=no,resizable=yes,scrollbars=yes" data-wc-window="vevo_help" type="button" data-wc-url="http://www.border.gov.au/help-text/migration/pages/vevo_help_010.aspx"><img src="/evo/firstParty?cacheKey=d77cdbee&amp;wc_static=%2fimages%2fsmall%2fhelp.png" alt=""></button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="_2a0a2a0a2c0b" class="wc-field">
                                                            <label id="_2a0a2a0a2c0b0" for="_2a0a2a0a2c0b1a_input" class="wc-label wc_req">Passport / ImmiCard number<span class="wc-off"> required</span></label>
                                                            <div class="wc-input">
                                                                <div id="_2a0a2a0a2c0b1" class="wc-panel">
                                                                    <div class="wc-flowlayout wc-align-left wc-hgap-med">
                                                                        <div class="wc-cell"><span id="_2a0a2a0a2c0b1a" class="wc-textfield wc_input_wrapper" aria-required="true"><input id="_2a0a2a0a2c0b1a_input" name="_2a0a2a0a2c0b1a" value="K7185568" required="required" type="text" placeholder="required" size="50" maxlength="14"></span></div>
                                                                        <div class="wc-cell">
                                                                            <button id="_2a0a2a0a2c0b1b" class="wc-link wc-linkbutton wc_nti" title="Help" aria-haspopup="true" data-wc-specs="width=400px,height=300px,menubar=no,toolbar=no,location=no,status=no,resizable=yes,scrollbars=yes" data-wc-window="vevo_help" type="button" data-wc-url="http://www.border.gov.au/help-text/migration/pages/vevo_help_237.aspx"><img src="/evo/firstParty?cacheKey=d77cdbee&amp;wc_static=%2fimages%2fsmall%2fhelp.png" alt=""></button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="_2a0a2a0a2c0c" class="wc-field">
                                                            <label id="_2a0a2a0a2c0c0" for="_2a0a2a0a2c0c1a" class="wc-label wc_req">Country of Passport / ImmiCard<span class="wc-off"> required</span></label>
                                                            <div class="wc-input">
                                                                <div id="_2a0a2a0a2c0c1" class="wc-panel">
                                                                    <div class="wc-flowlayout wc-align-left wc-hgap-med">
                                                                        <div class="wc-cell">
                                                                            <select id="_2a0a2a0a2c0c1a" class="wc-dropdown" name="_2a0a2a0a2c0c1a" required="required" data-wc-list="aWNhbw==#C#DQ291bnRyeQ==#E#V_1502185728562">
                                                                                <option value="" data-wc-null="1">Country</option>
                                                                                <option value="AFG">AFGHANISTAN</option>
                                                                                <option value="ALB">ALBANIA</option>
                                                                                <option value="DZA">ALGERIA</option>
                                                                                <option value="ASM">AMERICAN SAMOA</option>
                                                                                <option value="AND">ANDORRA</option>
                                                                                <option value="AGO">ANGOLA</option>
                                                                                <option value="AIA">ANGUILLA</option>
                                                                                <option value="ATA">ANTARCTICA</option>
                                                                                <option value="ATG">ANTIGUA AND BARBUDA</option>
                                                                                <option value="ARG">ARGENTINA</option>
                                                                                <option value="ARM">ARMENIA</option>
                                                                                <option value="ABW">ARUBA</option>
                                                                                <option value="AUS">AUSTRALIA</option>
                                                                                <option value="AUT">AUSTRIA</option>
                                                                                <option value="AZE">AZERBAIJAN</option>
                                                                                <option value="BHS">BAHAMAS</option>
                                                                                <option value="BHR">BAHRAIN</option>
                                                                                <option value="BGD">BANGLADESH</option>
                                                                                <option value="BRB">BARBADOS</option>
                                                                                <option value="BLR">BELARUS</option>
                                                                                <option value="BEL">BELGIUM</option>
                                                                                <option value="BLZ">BELIZE</option>
                                                                                <option value="BEN">BENIN</option>
                                                                                <option value="BMU">BERMUDA</option>
                                                                                <option value="BTN">BHUTAN</option>
                                                                                <option value="BOL">BOLIVIA</option>
                                                                                <option value="BES">BONAIRE, SAINT EUSTATIUS AND SABA</option>
                                                                                <option value="BIH">BOSNIA AND HERZEGOVINA</option>
                                                                                <option value="BWA">BOTSWANA</option>
                                                                                <option value="BVT">BOUVET ISLAND</option>
                                                                                <option value="BRA">BRAZIL</option>
                                                                                <option value="IOT">BRIT INDIAN OCN TERR</option>
                                                                                <option value="BRN">BRUNEI DARUSSALAM</option>
                                                                                <option value="BGR">BULGARIA</option>
                                                                                <option value="BFA">BURKINA FASO</option>
                                                                                <option value="MMR">BURMA (MYANMAR)</option>
                                                                                <option value="BDI">BURUNDI</option>
                                                                                <option value="CPV">CABO VERDE</option>
                                                                                <option value="KHM">CAMBODIA</option>
                                                                                <option value="CMR">CAMEROON</option>
                                                                                <option value="CAN">CANADA</option>
                                                                                <option value="CYM">CAYMAN ISLANDS</option>
                                                                                <option value="CAF">CENTRAL AFRICAN REPUBLIC</option>
                                                                                <option value="TCD">CHAD</option>
                                                                                <option value="CHL">CHILE</option>
                                                                                <option value="CHN">CHINA</option>
                                                                                <option value="CCK">COCOS (KEELING) ISL.</option>
                                                                                <option value="COL">COLOMBIA</option>
                                                                                <option value="COM">COMOROS</option>
                                                                                <option value="COG">CONGO</option>
                                                                                <option value="COD">CONGO, DEMOCRATIC REPUBLIC OF THE</option>
                                                                                <option value="COK">COOK ISLANDS</option>
                                                                                <option value="CRI">COSTA RICA</option>
                                                                                <option value="CIV">COTE D'IVOIRE</option>
                                                                                <option value="HRV">CROATIA</option>
                                                                                <option value="CUB">CUBA</option>
                                                                                <option value="CUW">CURACAO</option>
                                                                                <option value="CYP">CYPRUS</option>
                                                                                <option value="CZE">CZECH REPUBLIC</option>
                                                                                <option value="CSK">CZECHOSLOVAKIA</option>
                                                                                <option value="DNK">DENMARK</option>
                                                                                <option value="DJI">DJIBOUTI</option>
                                                                                <option value="DMA">DOMINICA</option>
                                                                                <option value="DOM">DOMINICAN REPUBLIC</option>
                                                                                <option value="TMP">EAST TIMOR</option>
                                                                                <option value="ECU">ECUADOR</option>
                                                                                <option value="EGY">EGYPT</option>
                                                                                <option value="SLV">EL SALVADOR</option>
                                                                                <option value="GNQ">EQUATORIAL GUINEA</option>
                                                                                <option value="ERI">ERITREA</option>
                                                                                <option value="EST">ESTONIA</option>
                                                                                <option value="ETH">ETHIOPIA</option>
                                                                                <option value="FLK">FALKLAND ISLANDS (MALVINAS)</option>
                                                                                <option value="FRO">FAROE ISLANDS</option>
                                                                                <option value="FJI">FIJI</option>
                                                                                <option value="FIN">FINLAND</option>
                                                                                <option value="FRA">FRANCE</option>
                                                                                <option value="FXX">FRANCE, METROPOLITAN</option>
                                                                                <option value="GUF">FRENCH GUIANA</option>
                                                                                <option value="PYF">FRENCH POLYNESIA</option>
                                                                                <option value="ATF">FRENCH SOUTHERN TERR</option>
                                                                                <option value="GAB">GABON</option>
                                                                                <option value="GMB">GAMBIA</option>
                                                                                <option value="GEO">GEORGIA</option>
                                                                                <option value="SGS">GEORGIA/SANDWICH ISL</option>
                                                                                <option value="D">GERMANY</option>
                                                                                <option value="GHA">GHANA</option>
                                                                                <option value="GIB">GIBRALTAR</option>
                                                                                <option value="GRC">GREECE</option>
                                                                                <option value="GRL">GREENLAND</option>
                                                                                <option value="GRD">GRENADA</option>
                                                                                <option value="GLP">GUADELOUPE</option>
                                                                                <option value="GUM">GUAM</option>
                                                                                <option value="GTM">GUATEMALA</option>
                                                                                <option value="GIN">GUINEA</option>
                                                                                <option value="GNB">GUINEA-BISSAU</option>
                                                                                <option value="GUY">GUYANA</option>
                                                                                <option value="HTI">HAITI</option>
                                                                                <option value="HMD">HEARD &amp; MCDONALD ISL</option>
                                                                                <option value="HND">HONDURAS</option>
                                                                                <option value="HKG">HONG KONG SAR</option>
                                                                                <option value="HUN">HUNGARY</option>
                                                                                <option value="ISL">ICELAND</option>
                                                                                <option value="IND" selected="selected">INDIA</option>
                                                                                <option value="IDN">INDONESIA</option>
                                                                                <option value="IRN">IRAN, ISLAMIC REPUBLIC OF</option>
                                                                                <option value="IRQ">IRAQ</option>
                                                                                <option value="IRL">IRELAND</option>
                                                                                <option value="ISR">ISRAEL</option>
                                                                                <option value="ITA">ITALY</option>
                                                                                <option value="JAM">JAMAICA</option>
                                                                                <option value="JPN">JAPAN</option>
                                                                                <option value="JOR">JORDAN</option>
                                                                                <option value="KAZ">KAZAKHSTAN</option>
                                                                                <option value="KEN">KENYA</option>
                                                                                <option value="KIR">KIRIBATI</option>
                                                                                <option value="PRK">KOREA, DEMOCRATIC PEOPLES REPUBLIC OF (NORTH)</option>
                                                                                <option value="KOR">KOREA, REPUBLIC OF (SOUTH)</option>
                                                                                <option value="RKS">KOSOVO</option>
                                                                                <option value="KWT">KUWAIT</option>
                                                                                <option value="KGZ">KYRGYZSTAN</option>
                                                                                <option value="LAO">LAO PEOPLE'S DEMOCRATIC REPUBLIC</option>
                                                                                <option value="LVA">LATVIA</option>
                                                                                <option value="LBN">LEBANON</option>
                                                                                <option value="LSO">LESOTHO</option>
                                                                                <option value="LBR">LIBERIA</option>
                                                                                <option value="LBY">LIBYA</option>
                                                                                <option value="LIE">LIECHTENSTEIN</option>
                                                                                <option value="LTU">LITHUANIA</option>
                                                                                <option value="LUX">LUXEMBOURG</option>
                                                                                <option value="MAC">MACAU SAR</option>
                                                                                <option value="MKD">MACEDONIA, FORMER YUGOSLAV REPUBLIC OF</option>
                                                                                <option value="MDG">MADAGASCAR</option>
                                                                                <option value="MWI">MALAWI</option>
                                                                                <option value="MYS">MALAYSIA</option>
                                                                                <option value="MDV">MALDIVES</option>
                                                                                <option value="MLI">MALI</option>
                                                                                <option value="MLT">MALTA</option>
                                                                                <option value="MHL">MARSHALL ISLANDS</option>
                                                                                <option value="MTQ">MARTINIQUE</option>
                                                                                <option value="MRT">MAURITANIA</option>
                                                                                <option value="MUS">MAURITIUS</option>
                                                                                <option value="MYT">MAYOTTE</option>
                                                                                <option value="MEX">MEXICO</option>
                                                                                <option value="FSM">MICRONESIA, FEDERATED STATES OF</option>
                                                                                <option value="MDA">MOLDOVA, REPUBLIC OF</option>
                                                                                <option value="MCO">MONACO</option>
                                                                                <option value="MNG">MONGOLIA</option>
                                                                                <option value="MNE">MONTENEGRO</option>
                                                                                <option value="MSR">MONTSERRAT</option>
                                                                                <option value="MAR">MOROCCO</option>
                                                                                <option value="MOZ">MOZAMBIQUE</option>
                                                                                <option value="NAM">NAMIBIA</option>
                                                                                <option value="NRU">NAURU</option>
                                                                                <option value="NPL">NEPAL</option>
                                                                                <option value="NLD">NETHERLANDS</option>
                                                                                <option value="ANT">NETHERLANDS ANTILLES</option>
                                                                                <option value="NTZ">NEUTRAL ZONE</option>
                                                                                <option value="NCL">NEW CALEDONIA</option>
                                                                                <option value="NZL">NEW ZEALAND</option>
                                                                                <option value="NIC">NICARAGUA</option>
                                                                                <option value="NER">NIGER</option>
                                                                                <option value="NGA">NIGERIA</option>
                                                                                <option value="NIU">NIUE</option>
                                                                                <option value="MNP">NORTHERN MARIANA ISL</option>
                                                                                <option value="NOR">NORWAY</option>
                                                                                <option value="OMN">OMAN</option>
                                                                                <option value="PAK">PAKISTAN</option>
                                                                                <option value="PLW">PALAU</option>
                                                                                <option value="PSE">PALESTINIAN AUTHORITY</option>
                                                                                <option value="PAN">PANAMA</option>
                                                                                <option value="PNG">PAPUA NEW GUINEA</option>
                                                                                <option value="PRY">PARAGUAY</option>
                                                                                <option value="PER">PERU</option>
                                                                                <option value="PHL">PHILIPPINES</option>
                                                                                <option value="PCN">PITCAIRN</option>
                                                                                <option value="POL">POLAND</option>
                                                                                <option value="PRT">PORTUGAL</option>
                                                                                <option value="PRI">PUERTO RICO</option>
                                                                                <option value="QAT">QATAR</option>
                                                                                <option value="XXB">REFUGEE AS PER ART 1</option>
                                                                                <option value="XXC">REFUGEE OTHER</option>
                                                                                <option value="REU">REUNION</option>
                                                                                <option value="ROU">ROMANIA</option>
                                                                                <option value="ROM">ROMANIA PRE 1/2/2002</option>
                                                                                <option value="RUS">RUSSIAN FEDERATION</option>
                                                                                <option value="RWA">RWANDA</option>
                                                                                <option value="SHN">SAINT HELENA, ASCENSION AND TRISTAN DA CUNHA</option>
                                                                                <option value="KNA">SAINT KITTS AND NEVIS</option>
                                                                                <option value="LCA">SAINT LUCIA</option>
                                                                                <option value="VCT">SAINT VINCENT AND THE GRENADINES</option>
                                                                                <option value="WSM">SAMOA</option>
                                                                                <option value="SMR">SAN MARINO</option>
                                                                                <option value="STP">SAO TOME AND PRINCIPE</option>
                                                                                <option value="SAU">SAUDI ARABIA</option>
                                                                                <option value="SEN">SENEGAL</option>
                                                                                <option value="SRB">SERBIA</option>
                                                                                <option value="SCG">SERBIA AND MONTENEGRO</option>
                                                                                <option value="SYC">SEYCHELLES</option>
                                                                                <option value="SLE">SIERRA LEONE</option>
                                                                                <option value="SGP">SINGAPORE</option>
                                                                                <option value="SXM">SINT MAARTEN (DUTCH PART)</option>
                                                                                <option value="SVK">SLOVAK REPUBLIC</option>
                                                                                <option value="SVN">SLOVENIA</option>
                                                                                <option value="SLB">SOLOMON ISLANDS</option>
                                                                                <option value="SOM">SOMALIA</option>
                                                                                <option value="ZAF">SOUTH AFRICA</option>
                                                                                <option value="SSD">SOUTH SUDAN</option>
                                                                                <option value="ESP">SPAIN</option>
                                                                                <option value="LKA">SRI LANKA</option>
                                                                                <option value="SPM">ST PIERRE &amp; MIQUELON</option>
                                                                                <option value="XXA">STATELESS PERSON</option>
                                                                                <option value="SDN">SUDAN</option>
                                                                                <option value="SUR">SURINAME</option>
                                                                                <option value="SJM">SVALBARD &amp; JAN MAYEN</option>
                                                                                <option value="SWZ">SWAZILAND</option>
                                                                                <option value="SWE">SWEDEN</option>
                                                                                <option value="CHE">SWITZERLAND</option>
                                                                                <option value="SYR">SYRIAN ARAB REPUBLIC</option>
                                                                                <option value="TWN">TAIWAN</option>
                                                                                <option value="TJK">TAJIKISTAN</option>
                                                                                <option value="TZA">TANZANIA, UNITED REPUBLIC OF</option>
                                                                                <option value="THA">THAILAND</option>
                                                                                <option value="TLS">TIMOR-LESTE</option>
                                                                                <option value="TGO">TOGO</option>
                                                                                <option value="TKL">TOKELAU</option>
                                                                                <option value="TON">TONGA</option>
                                                                                <option value="TTO">TRINIDAD AND TOBAGO</option>
                                                                                <option value="TUN">TUNISIA</option>
                                                                                <option value="TUR">TURKEY</option>
                                                                                <option value="TKM">TURKMENISTAN</option>
                                                                                <option value="TCA">TURKS AND CAICOS ISLANDS</option>
                                                                                <option value="TUV">TUVALU</option>
                                                                                <option value="UMI">U.S MINOR ISLANDS</option>
                                                                                <option value="UGA">UGANDA</option>
                                                                                <option value="UKR">UKRAINE</option>
                                                                                <option value="ARE">UNITED ARAB EMIRATES</option>
                                                                                <option value="GBR">UNITED KINGDOM - BRITISH CITIZEN</option>
                                                                                <option value="GBN">UNITED KINGDOM - BRITISH NATIONAL (OVERSEAS)</option>
                                                                                <option value="GBO">UNITED KINGDOM - BRITISH OVERSEAS CITIZEN</option>
                                                                                <option value="GBD">UNITED KINGDOM - BRITISH OVERSEAS TERRITORIES CITIZEN</option>
                                                                                <option value="GBP">UNITED KINGDOM - BRITISH PROTECTED PERSON</option>
                                                                                <option value="GBS">UNITED KINGDOM - BRITISH SUBJECT</option>
                                                                                <option value="UNA">UNITED NATIONS AGNCY</option>
                                                                                <option value="UNO">UNITED NATIONS ORGANISATION</option>
                                                                                <option value="USA">UNITED STATES</option>
                                                                                <option value="UNK">UNMIK TRAVEL DOC</option>
                                                                                <option value="XXX">UNSPCFED NATIONALITY</option>
                                                                                <option value="URY">URUGUAY</option>
                                                                                <option value="UZB">UZBEKISTAN</option>
                                                                                <option value="VUT">VANUATU</option>
                                                                                <option value="VAT">VATICAN CITY STATE (HOLY SEE)</option>
                                                                                <option value="VEN">VENEZUELA</option>
                                                                                <option value="VNM">VIET NAM</option>
                                                                                <option value="VGB">VIRGIN ISLANDS (BRITISH)</option>
                                                                                <option value="VIR">VIRGIN ISLANDS (U.S)</option>
                                                                                <option value="WLF">WALLIS &amp; FUTUNA ISL</option>
                                                                                <option value="ESH">WESTERN SAHARA</option>
                                                                                <option value="YEM">YEMEN</option>
                                                                                <option value="YUG">YUGOSLAVIA</option>
                                                                                <option value="ZAR">ZAIRE</option>
                                                                                <option value="ZMB">ZAMBIA</option>
                                                                                <option value="ZWE">ZIMBABWE</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="wc-cell">
                                                                            <button id="_2a0a2a0a2c0c1b" class="wc-link wc-linkbutton wc_nti" title="Help" aria-haspopup="true" data-wc-specs="width=400px,height=300px,menubar=no,toolbar=no,location=no,status=no,resizable=yes,scrollbars=yes" data-wc-window="vevo_help" type="button" data-wc-url="http://www.border.gov.au/help-text/migration/pages/vevo_help_238.aspx"><img src="/evo/firstParty?cacheKey=d77cdbee&amp;wc_static=%2fimages%2fsmall%2fhelp.png" alt=""></button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wc-cell">
                                            <div id="_2a0a2a0a2d" class="wc-panel wc-margin-n-lg wc-margin-s-med">
                                                <div class="wc-content">&nbsp;
                                                    <div role="presentation" id="_2a0a2a0a2d1" class="wc-fieldlayout wc-layout-flat wc_fld_lblwth_35">
                                                        <div id="_2a0a2a0a2d1a" class="wc-field"><span class="wc_fld_pl">&nbsp;</span>
                                                            <div class="wc-input">
                                                                <div id="_2a0a2a0a2d1a0" class="wc-panel">
                                                                    <div class="wc-content">
                                                                        <div role="presentation" id="_2a0a2a0a2d1a0a" class="wc-fieldlayout wc-layout-flat wc_fld_lblwth_35"></div><a id="_2a0a2a0a2d1a0b" class="wc-link" href="http://www.border.gov.au/help-text/migration/pages/terms-conditions/vevo-1st-party-logon-tc.aspx" rel="noopener noreferrer" target="somename">View Terms and Conditions</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="_2a0a2a0a2d1b" class="wc-field"><span class="wc_fld_pl">&nbsp;</span>
                                                            <div class="wc-input">
                                                                <input type="checkbox" id="_2a0a2a0a2d1b0" class="wc-checkbox" name="_2a0a2a0a2d1b0" required="required" value="true" checked="">
                                                                <label id="_2a0a2a0a2d1a0c" for="_2a0a2a0a2d1b0" class="wc-label wc_req"> I have read and agree to the terms and conditions<span class="wc-off"> required</span></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="_2a0a2a0a3" class="wc-panel wc-panel-type-feature wc-margin-n-lg wc-margin-s-sm">
                                    <div class="wc-borderlayout">
                                        <div class="wc_bl_mid">
                                            <div class="wc-west wc_bl_mid50">
                                                <div id="_2a0a2a0a3a" class="wc-panel">
                                                    <div class="wc-flowlayout wc-align-left wc-hgap-med">
                                                        <div class="wc-cell">
                                                            <div id="_2a0a2a0a3a0" class="wc-panel">
                                                                <div class="wc-content">
                                                                    <button name="_2a0a2a0a3a0a" value="x" id="_2a0a2a0a3a0a" class="wc-button wc_btn_cancel" type="submit" formnovalidate="formnovalidate">Clear</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wc-east wc_bl_mid50">
                                                <div id="_2a0a2a0a3b" class="wc-panel">
                                                    <div class="wc-flowlayout wc-align-right wc-hgap-med">
                                                        <div class="wc-cell">
                                                            <div id="_2a0a2a0a3b0" class="wc-panel">
                                                                <div class="wc-content">
                                                                    <button name="_2a0a2a0a3b0a" value="x" id="_2a0a2a0a3b0a" class="wc-button" type="submit" data-wc-validate="_2a0a2a0">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <footer id="_3" class="wc-panel wc-panel-type-footer wc-margin-all-lg">
            <div class="wc-borderlayout">
                <div class="wc_bl_mid">
                    <div class="wc-west wc_bl_mid50">
                        <div id="_3a" class="wc-panel">
                            <ul class="wc-listlayout wc-listlayout-type-flat wc-align-left wc-listlayout-separator-bar wc-hgap-med">
                                <li><a id="_3a0" class="wc-link" href="http://www.border.gov.au/website/accessibility" rel="noopener noreferrer" target="somename">Accessibility</a></li>
                                <li><a id="_3a1" class="wc-link" href="http://www.border.gov.au/website/copyright-and-disclaimer" rel="noopener noreferrer" target="somename">Copyright &amp; Disclaimer</a></li>
                                <li><a id="_3a2" class="wc-link" href="http://www.border.gov.au/website/online-security" rel="noopener noreferrer" target="somename">Online Security</a></li>
                                <li><a id="_3a3" class="wc-link" href="http://www.border.gov.au/about/access-accountability/privacy" rel="noopener noreferrer" target="somename">Privacy</a></li>
                                <li>
                                    <button name="_3a4" value="x" id="_3a4" class="wc-button wc-button-type-link wc_btn_cancel wc-linkbutton" type="submit" formnovalidate="formnovalidate">Change Password</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="wc-east wc_bl_mid50">
                        <div id="_3b" class="wc-panel">
                            <div class="wc-flowlayout wc-align-right wc-hgap-xl"></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="wc_session" hidden="hiddden" id="wc_session_container" role="alert" aria-live="polite"></div>
    </form>
</body>