<div class="container-fluid">
    <div style="margin:10px">
        <span style="margin-top:40px;margin-bottom:30px;color:#767676;font-size:16px;line-height:20px;display:block;font-weight:600">{{model.description}}</span>
        <div ng-repeat="option in model.optionsList" ng-click="optionSelected(option)" style="cursor:pointer" ng-disabled='model.waiting'>
            <div class="row occupation_row" ng-class="{'red' :  model.selected == option}">
                <div class="col-xs-12">{{option.name}}</div>
                <!-- <div class="col-xs-4" style="text-align:right;padding-right:20px;padding-bottom:20px">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="{{occupation.anzsco}}" value="{{occupation.anzsco}}" style="float:right;display:inline;vertical-align:top;" ng-model="model.selected">
                    </label>
                </div> -->
            </div>
        </div>
    </div>
    <button class="col-xs-12 occupation_selected" ng-if="model.selected" ng-disabled="model.waiting" ng-click="next()">
        <div class="col-xs-6"><span style="float: left">Next</span></div>
        <div calls="col-xs-6">
            <div style="float:right">
                <img src="/public/images/arrow-white-next.png" ng-if="!model.waiting" class="arrow-next-right">
                <div class="sk-fading-circle waiting-right" ng-if="model.waiting">
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                </div>
            </div>
        </div>
    </button>
</div>